# The weather dataset

### Hear, the weather data set is the time series data set with per hour information about the weather condition at a particular location,It records temperature, dew point temperature,relative humidity ,wind speed,visibility and pressure condition.

In [8]:
import pandas as pd

In [9]:
data=pd.read_csv(r"C:\Users\ELCOT\Downloads\1. Weather Data.csv")

In [12]:
data

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [8]:
data.describe

<bound method NDFrame.describe of              Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  \
0        1/1/2012 0:00    -1.8              -3.9         86                4
1        1/1/2012 1:00    -1.8              -3.7         87                4
2        1/1/2012 2:00    -1.8              -3.4         89                7
3        1/1/2012 3:00    -1.5              -3.2         88                6
4        1/1/2012 4:00    -1.5              -3.3         88                7
...                ...     ...               ...        ...              ...
8779  12/31/2012 19:00     0.1              -2.7         81               30
8780  12/31/2012 20:00     0.2              -2.4         83               24
8781  12/31/2012 21:00    -0.5              -1.5         93               28
8782  12/31/2012 22:00    -0.2              -1.8         89               28
8783  12/31/2012 23:00     0.0              -2.1         86               30

      Visibility_km  Press_kPa               Weather
0               8.0     101.24                   Fog
1               8.0     101.24                   Fog
2               4.0     101.26  Freezing Drizzle,Fog
3               4.0     101.27  Freezing Drizzle,Fog
4               4.8     101.23                   Fog
...             ...        ...                   ...
8779            9.7     100.13                  Snow
8780            9.7     100.03                  Snow
8781            4.8      99.95                  Snow
8782            9.7      99.91                  Snow
8783           11.3      99.89                  Snow

[8784 rows x 8 columns]>

In [9]:
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

## 1.Finding all the unique "wind speed" values in the data ?

In [13]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [14]:
data.nunique()

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [16]:
data["Wind Speed_km/h"].nunique()

34

In [17]:
data["Wind Speed_km/h"].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2],
      dtype=int64)

# 2.Find the no of times when the 'weather is exactly clear'.

In [19]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [25]:
data.Weather.value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Rain,Snow,Ice Pellets                         4
Moderate Snow                                 4
Snow Showers,Fog                              4
Freezing Fog                                  4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain Showers,Fog                3
Thunderstorms,Rain                            3
Drizzle,Snow                                  2
Moderate Snow,Blowing Snow                    2
Freezing Rain,Haze                            2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Drizzle,Ice Pellets,Fog                       1
Freezing Rain,Snow Grains                     1
Thunderstorms,Heavy Rain Showers              1
Thunderstorms,Moderate Rain Showers,Fog       1
Moderate Rain,Fog                             1
Rain Showers,Fog                              1
Rain,Snow,Fog                                 1
Snow Pellets                                  1
Rain,Ice Pellets                              1
Freezing Rain,Ice Pellets,Fog                 1
Rain,Snow Grains                              1
Thunderstorms,Rain,Fog                        1
Name: Weather, dtype: int64

In [26]:
data.groupby("Weather").get_group("Clear")

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

In [30]:
data[data.Weather=="Clear"]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

# 3.Find the no of times when the  wind speed is exactly "4Kms per hour"

In [31]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [33]:
data[data['Wind Speed_km/h']==4]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
96,1/5/2012 0:00,-8.8,-11.7,79,4,9.7,100.32,Snow
101,1/5/2012 5:00,-7.0,-9.5,82,4,4.0,100.19,Snow
146,1/7/2012 2:00,-8.1,-11.1,79,4,19.3,100.15,Cloudy
...,...,...,...,...,...,...,...,...
8768,12/31/2012 8:00,-8.6,-10.3,87,4,3.2,101.14,Snow Showers
8769,12/31/2012 9:00,-8.1,-9.6,89,4,2.4,101.09,Snow
8770,12/31/2012 10:00,-7.4,-8.9,89,4,6.4,101.05,"Snow,Fog"
8772,12/31/2012 12:00,-5.8,-7.5,88,4,12.9,100.78,Snow
8773,12/31/2012 13:00,-4.6,-6.6,86,4,12.9,100.63,Snow

# 4.Find out all the Null values in the data.

In [37]:
data.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [77]:
data.groupby("Weather Condition").mean()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
Weather Condition,,,,,,
snow,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623

In [78]:
data.notnull().sum()

Date/Time            8784
Temp_C               8784
Dew Point Temp_C     8784
Rel Hum_%            8784
Wind Speed_km/h      8784
Visibility_km        8784
Press_kPa            8784
Weather Condition    8784
dtype: int64

# 5. Rename the column name "Weather" of dataframe into the "Weather condition"

In [40]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [47]:
data.rename(columns={"Weather":"Weather Condition"},inplace=True)

# 6. What is the mean visibility.

In [88]:
data.head(3)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,snow
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,snow
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,snow

In [49]:
data.head(1)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog

In [50]:
data.Visibility_km.mean()

27.66444672131151

# 7.What is the standard deviation of 'pressure' in the data.

In [87]:
data.Press_kPa.std()

0.8440047459486474

# 8.What is the Variance of 'Relative Humidity' in the data.

In [55]:
data['Rel Hum_%'].var()

286.2485501984998

# 9.Find all the instances when 'snow' was recorded

In [86]:
data.head(1)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,snow

In [112]:
data['Weather Condition'].value_counts()

snow    8784
Name: Weather Condition, dtype: int64

# 10.Find the all instance when 'wind speed is above 24' and 'visibility is 25'

In [62]:
data.head(1)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,snow

In [64]:
data[(data['Wind Speed_km/h']>24) & (data['Visibility_km']==25)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
23,1/1/2012 23:00,5.3,2.0,79,30,25.0,99.31,snow
24,1/2/2012 0:00,5.2,1.5,77,35,25.0,99.26,snow
25,1/2/2012 1:00,4.6,0.0,72,39,25.0,99.26,snow
26,1/2/2012 2:00,3.9,-0.9,71,32,25.0,99.26,snow
27,1/2/2012 3:00,3.7,-1.5,69,33,25.0,99.30,snow
...,...,...,...,...,...,...,...,...
8705,12/28/2012 17:00,-8.6,-12.0,76,26,25.0,101.34,snow
8753,12/30/2012 17:00,-12.1,-15.8,74,28,25.0,101.26,snow
8755,12/30/2012 19:00,-13.4,-16.5,77,26,25.0,101.47,snow
8759,12/30/2012 23:00,-12.1,-15.1,78,28,25.0,101.52,snow
8760,12/31/2012 0:00,-11.1,-14.4,77,26,25.0,101.51,snow

# 11 .What is the mean value of each column against each"weather condition"

In [83]:
data.groupby('Weather Condition').mean()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
Weather Condition,,,,,,
snow,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623

  # 12. What is the min & max value of each column against each 'weather condition'

In [84]:
data.head(1
        )

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,snow

In [92]:
data.groupby('Weather Condition').max()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
Weather Condition,,,,,,,
snow,9/9/2012 9:00,33.0,24.4,100,83,48.3,103.65

In [85]:
data.groupby('Weather Condition').min()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
Weather Condition,,,,,,,
snow,1/1/2012 0:00,-23.3,-28.5,18,0,0.2,97.52

# 13. Find all instance when "weather is clear"or "visibility is above 40"

In [116]:
data. head (1
        )

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,snow

In [98]:
data[(data['Weather Condition']=="clear") | (data["Visibility_km"]>40)].tail(50)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
8097,12/3/2012 9:00,3.6,1.0,83,11,48.3,101.87,snow
8169,12/6/2012 9:00,-3.4,-8.9,66,9,48.3,102.53,snow
8170,12/6/2012 10:00,-2.6,-8.4,64,13,48.3,102.56,snow
8171,12/6/2012 11:00,-1.8,-8.9,58,13,48.3,102.46,snow
8172,12/6/2012 12:00,-1.8,-9.4,56,6,48.3,102.37,snow
8173,12/6/2012 13:00,-1.0,-8.3,58,7,48.3,102.27,snow
8174,12/6/2012 14:00,-0.9,-8.7,55,13,48.3,102.21,snow
8175,12/6/2012 15:00,-1.2,-7.9,60,11,48.3,102.18,snow
8176,12/6/2012 16:00,-2.8,-7.9,68,7,48.3,102.11,snow
8194,12/7/2012 10:00,1.2,-5.8,60,9,48.3,101.26,snow
8195,12/7/2012 11:00,2.6,-5.0,57,4,48.3,101.24,snow
8197,12/7/2012 13:00,3.7,-4.3,56,6,48.3,101.15,snow
8198,12/7/2012 14:00,3.9,-4.3,55,11,48.3,101.09,snow
8199,12/7/2012 15:00,3.9,-3.3,59,11,48.3,101.11,snow
8359,12/14/2012 7:00,2.0,-3.6,66,20,48.3,101.30,snow
8360,12/14/2012 8:00,1.5,-3.5,69,13,48.3,101.32,snow
8361,12/14/2012 9:00,2.3,-3.1,67,26,48.3,101.32,snow
8383,12/15/2012 7:00,-10.2,-15.1,67,19,48.3,102.63,snow
8384,12/15/2012 8:00,-10.7,-15.6,67,13,48.3,102.69,snow
8385,12/15/2012 9:00,-10.4,-15.9,64,19,48.3,102.74,snow
8386,12/15/2012 10:00,-9.9,-15.2,65,13,48.3,102.78,snow
8387,12/15/2012 11:00,-9.3,-14.9,64,19,48.3,102.74,snow
8388,12/15/2012 12:00,-9.1,-15.1,62,19,48.3,102.71,snow
8389,12/15/2012 13:00,-8.4,-14.7,60,19,48.3,102.64,snow
8390,12/15/2012 14:00,-8.0,-14.2,61,13,48.3,102.59,snow
8391,12/15/2012 15:00,-7.8,-13.7,63,15,48.3,102.55,snow
8392,12/15/2012 16:00,-8.5,-14.8,60,20,48.3,102.54,snow
8408,12/16/2012 8:00,-9.5,-14.8,65,32,48.3,101.85,snow
8602,12/24/2012 10:00,-9.9,-13.4,76,11,48.3,101.45,snow
8603,12/24/2012 11:00,-9.0,-13.7,69,11,48.3,101.44,snow
8604,12/24/2012 12:00,-7.9,-13.3,65,9,48.3,101.43,snow
8605,12/24/2012 13:00,-7.6,-13.1,65,15,48.3,101.45,snow
8606,12/24/2012 14:00,-7.8,-13.7,63,15,48.3,101.46,snow
8607,12/24/2012 15:00,-7.5,-13.3,63,13,48.3,101.49,snow
8630,12/25/2012 14:00,-7.7,-14.1,60,6,48.3,101.95,snow
8631,12/25/2012 15:00,-7.1,-13.7,59,17,48.3,101.98,snow
8632,12/25/2012 16:00,-7.5,-13.9,60,11,48.3,102.03,snow
8651,12/26/2012 11:00,-11.3,-14.5,77,20,48.3,102.50,snow
8652,12/26/2012 12:00,-10.6,-14.3,74,20,48.3,102.36,snow
8699,12/28/2012 11:00,-6.2,-8.8,82,24,48.3,101.24,snow
8700,12/28/2012 12:00,-7.2,-9.9,81,24,48.3,101.22,snow
8701,12/28/2012 13:00,-6.8,-9.8,79,20,48.3,101.17,snow
8702,12/28/2012 14:00,-6.5,-9.9,77,22,48.3,101.17,snow
8703,12/28/2012 15:00,-6.8,-10.3,76,24,48.3,101.22,snow
8704,12/28/2012 16:00,-7.7,-11.0,77,30,48.3,101.25,snow
8748,12/30/2012 12:00,-12.2,-15.7,75,26,48.3,100.91,snow
8749,12/30/2012 13:00,-12.4,-16.2,73,37,48.3,100.92,snow
8750,12/30/2012 14:00,-11.8,-16.1,70,37,48.3,100.96,snow
8751,12/30/2012 15:00,-11.3,-15.6,70,32,48.3,101.05,snow
8752,12/30/2012 16:00,-11.4,-15.5,72,26,48.3,101.15,snow

#  14. Find all instances when:
         A."Wind speed" >20 and "Relative Humidity is greater than 50"
         or
         B."Visibility is above 40"

In [117]:
data[(data['Wind Speed_km/h']>20) & (data["Rel Hum_%"]>50) 
|( data[ 'Visibility_km']>40)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
15,1/1/2012 15:00,1.8,-0.4,85,22,6.4,100.07,snow
22,1/1/2012 22:00,4.4,1.9,84,24,19.3,99.32,snow
23,1/1/2012 23:00,5.3,2.0,79,30,25.0,99.31,snow
24,1/2/2012 0:00,5.2,1.5,77,35,25.0,99.26,snow
25,1/2/2012 1:00,4.6,0.0,72,39,25.0,99.26,snow
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,snow